// @desc    Fonts Used
@font-face {
  font-family: "Baloo Bhai";
  src: url("./font/baloobhai.ttf");
}

@font-face {
  font-family: "Qlassik Regular";
  src: url("./font/qlassik_regular.ttf");
}

@font-face {
  font-family: "Qlassik Bold";
  src: url("./font/qlassik_bold.ttf");
}
